<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
        <link href="https://fonts.googleapis.com/css?family=Pridi" rel="stylesheet">        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<ul class="center-xs" style="color:white;">
    <li class="center-xs"><h1 class="eje center-xs">Ceiba Parking</h1></li>
    <br>
    <li><h2 class="trm"> Dolar TRM: ${{totalTCRM}}</h2></li>cop
</ul>
<div>
    <app-vehiculo></app-vehiculo>
</div>


 