

<style>

  #table-scroll {
    overflow-y: auto;
    height: 400px;
  }
  #table-wrapper table {
    width:100%;
  }



</style>
<div>
        <h2> Detalle de vehiculos</h2>
        <div id="table-wrapper">
            <div id="table-scroll">
                    <table class="table table-striped">
                            <thead>
                             <tr>
                                 <th class="hidden">placa</th>
                                 <th>placa</th>
                                 <th>fecha de ingreso</th>
                                 <th>tipo de vehiculo</th>
                                 <th>Generar salida</th>
                     
                             </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let vehiculo of vehiculos">
                                             <!-- [class.selected]="vehiculo === selectedVehiculo" -->
                                 <td class="hidden"></td>
                                 <td>{{vehiculo.placa}}</td>
                                 <td>{{vehiculo.fechaIngreso}}</td>
                                 <td>{{vehiculo.tipo}}</td>
                                 <td><button class="btn btn-danger" (click)="sacarVehiculo(vehiculo)" data-toggle="modal" data-target="#myModal"> Sacar Vehiculo</button></td>
                             </tr>
                          </tbody>
                      </table>
            </div>
        </div>
        <div>
                <kendo-popup [anchor]="anchor" [popupClass]="'content popup'" *ngIf="show">
                    <h1>Total a pagar: {{totalPagar}}</h1>
                    <button #anchor (click)="onToggle()" class="btn btn-danger">Cerrar</button>
                </kendo-popup>
            </div>
</div>
