
<div class="divrith">
  <h2>Consultar vehiculo</h2>
  <div class="form-group">
      <label for="placa">Placa:</label>
      <input [(ngModel)]="vehiculo.placa" pattern="[A-Za-z]{3}[0-9]{3}" required placeholder="placa" name="placa" value="algo" class="form-control" id="placa2" >
    </div>
    <div>
        <button id="buscar" type="" class="btn btn-success" (click)="consultarVehiculo()">Buscar</button>
    </div>
    <div *ngIf="vehiculo2">
      <h4>placa: </h4> <h5 id="consulta-placa" >{{vehiculo2.placa}}</h5>
      <h4>Ultima Fecha De ingreso:</h4><h5>{{vehiculo2.fechaIngreso}}</h5> 
      <h4>Tipo de vehiculo:</h4> <h5>{{vehiculo2.tipo}}</h5>
    </div>
</div>

